* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 100px;
  padding: 5px;
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
  height: 100%;
  align-items: center;
}

main , #evaluation-form , .container {
  display: flex;
}

.conteudo div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#evaluation-form {
  width: 675px;
  flex-direction: column;
}

ul {
  list-style: none;
}

#trybewarts-forms-logo {
  height: 500px;
}

.familia {
  display: flex;
  flex-direction: column;
}
